

<div class="container" style="width: 600px">
  <div class="row" style="padding: 10px 10px">
    <h2> Hey <%= @user.name %> what do you want to edit </h2>
  </div>
  <div class="row" style="padding: 10px 10px">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :name, required: true, autofocus: true %>
        <%= f.input :telephone, required: true, autofocus: true %>
        <%= f.input :bio, required: true, autofocus: true %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>

        <%= f.input :photo, as: :file %>

        <h3> Change Password </h3>

        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <button type="button" class="btn btn-primary">
        <%= f.button :submit, "Update" %>
      </button>
    <% end %>



  </div>
  <div class="row" style="padding: 10px 10px">
    <div class="btn btn-primary">
      <%= link_to "Go back to dashboard", dashboard_path%>
    </div>
  </div>

  <div class="row" style="padding: 10px 10px">
    <div class="btn btn-danger">
      <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
    </div>
  </div>

