<div class="container">
  <h1 style="color: black">Edit your dog's details:</h1>

  <%= simple_form_for @dog do |f| %>
    <%= f.input :name, label: "Edit your dog's name" %>
    <%= f.input :breed, label: "Edit the breed", collection: Dog::CATEGORIES %>
    <%= f.input :bio, label: "Edit your dog's description" %>
    <%= f.input :location, label: "Edit your dog's location" %>
    <!-- Work out how to edit the dog's photo -->
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, "Update your dogs info"%>
  <% end %>
</div>
