<div class="container col-xs-12 col-sm-4 col-sm-offet 3">
  <h1 style="color: black; font-family: Pacifico, cursive; padding-bottom: 50px;">Edit your dog's details:</h1>

  <%= simple_form_for @dog do |f| %>
    <%= f.input :name, label: "Edit your dog's name" %>
    <%= f.input :breed, label: "Edit the breed", collection: Dog::CATEGORIES %>
    <%= f.input :bio, label: "Edit your dog's description" %>
    <%= f.input :location, label: "Edit your dog's location" %>
    <%= f.input :photo, as: :file %>
    <div class= "submit-btn" >
     <%= f.button :submit, "Update your dogs info", class: "btn btn-primary", style: "margin: 20px 0px; border-radius: 9px;" %>
  <% end %>
 </div>
</div>


