<div class="card-category-main" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @dog.photo.key%>)">
  <div class="container" style="text-align: center;">
      <h1 style="font-family: Pacifico"> Meet <%= @dog.name %> </h1>
      <p style="margin-top: 40px"> Breed: <%= @dog.breed %> </p>
      <p> <%=  @dog.name %> bio: <%= @dog.bio %></p>
      <p> <%=  @dog.name %> location: <%= @dog.location %> </p>
      <p>  Owner is: <%= @dog.user.name %></p>
    <div class="button-grouping">
     <% if @dog.user != current_user %>
        <div class="button mb-3">
            <%= link_to "Book Now", new_dog_booking_path(@dog), class: "btn btn-gradient" %>
        </div>
        <div class="button mb-3">
            <%= link_to "Book another dog", dogs_path, class: "btn btn-gradient" %>
        </div>
      <% else %>
        <div class="button mb-3">
            <%= link_to "Edit your dog", edit_dog_path(@dog), class: "btn btn-gradient" %>
        </div>
        <div class="button mb-3">
          <p> <%= link_to "Remove your dog", dog_path(@dog), method: :delete, data: { confirm: "Are you sure?" } , class: "btn btn-gradient" %> </p>
        </div>
      <% end %>
    </div>
  </div>
</div>



      <div class="dog-reviews">
        <h1 style="color: black"> <%= @dog.name %> Reviews </h1>

          <% if @dog.reviews.present? %>
            <% @dog.reviews.each do |review| %>
            <div class="card-category-dog", style="margin-top: 10px;">
            <div class="review-card">
            <p> Review: <%= review.comment%></p>
            <p> Rating (1-5):  <%= review.rating %></p>
            </div>
            </div>
            <% end %>
          <% else %>
            <p> Sadly we dont have a reviews for <%= @dog.name %> </p>
          <% end %>

        </div>





  <div class="show-booking">
    <h1 style="color: black">  Your Bookings with <%= @dog.name %> </h1>
    <% if @dog.bookings.present? %>
      <% @dog_bookings.each do |booking|%>
        <% if booking.user == current_user %>
          <div class="card-category-review">
            <div class="booking-cards-show" style="text-align: center">
              <p> From: <%= booking.booked_from %> </p>
              <p> Until: <%= booking.booked_until %></p>
              <div class="button mb-3">
                <%= link_to "Edit booking", edit_booking_path(booking), class: "btn btn-gradient" %>
              </div>
              <div class="button mb-3">
                <%= link_to "Remove booking", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-gradient" %>
              </div>
              <div class="button mb-3">
                <%= link_to "Add a Review", new_dog_review_path(@dog), class: "btn btn-gradient" %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p> Sadly you dont have any bookings for <%= @dog.name %> </p>
    <% end %>
  </div>





