<% if @dog.photo.attached? %>
  <div class="profile_banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @dog.photo.key, height: 1200, width: 1600, crop: :fill %>)">
<% else %>
  <div class="profile_banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/800x600/?dog/<%= rand(50) %>);">
<% end %>
  <div class="container">
    <div>
      <h1> Meet <%= @dog.name %> </h1>
      <p> Breed: <%= @dog.breed %> </p>
      <p> <%=  @dog.name %> bio: <%= @dog.bio %></p>
      <p> <%=  @dog.name %> location: <%= @dog.location %> </p>
      <p>  Her owner is </p>
    </div>
    <% @dog_bookings.each do |booking|%>
    <h4 style="text-align: left">Your bookings</h4>
      <% if booking.user == current_user %>
        <div class="booking-cards" style="text-align: center">
          <p> From: <%= booking.booked_from %> </p>
          <p> Until: <%= booking.booked_until %></p>
          <div class="button mb-3">
            <%= link_to "Edit booking", edit_booking_path(booking), class: "btn btn-primary btn-sm" %>
          </div>
          <div class="button mb-3">
            <%= link_to "Remove booking", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary btn-sm" %>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="">
      <div class="button mb-3">
        <%= link_to "Book Now", new_dog_booking_path(@dog), class: "btn-danger btn-lg" %>
      </div>
      <div class="combine-btn">
        <div class="button mb-3">
          <%= link_to "Go back to other dogs" , dogs_path, class: "btn-light btn-sm" %>
        </div>
        <div class="button mb-3">
          <%= link_to "Edit your dog", edit_dog_path(@dog), class: "btn-light btn-sm" %>
        </div>
        <div class="button mb-3">
          <p> <%= link_to "Remove your dog", dog_path(@dog), method: :delete, data: { confirm: "Are you sure?" } , class: "btn-light btn-sm" %> </p>
        </div>
        <div class="button mb-3">
        <%= link_to "Add review", new_dog_review_path(@dog), class: "btn-light btn-sm" %>
        </div>
      </div>
      <div>
        <h1> <%= @dog.name %> Reviews </h1>
        <% @dog.reviews.each do |review| %>
        <div class="cards">
        <p> Users comment <%= review.comment%></p>
        <p> Rating <%= review.rating %></p>
        <% end %>
      </div>
  </div>

