<h1>Your Bookings</h1>

<ul>
<% @bookings.each do |booking| %>
<div class="card-product">
  <img src="https://source.unsplash.com/800x600/?dog/<%= rand(50) %>" />
  <div class="card-product-infos">
    <h2><%= booking.dog.name %></h2>
    <p> Your booking is scheduled <%= booking.booked_from %> until <%= booking.booked_until %></p>
  </div>
</div>
  <%= link_to 'View Booking', dog_booking_path(booking.dog, booking), class: "btn btn-primary btn-sm" %>
  <p> <%= link_to 'Delete Booking', booking_path(booking.dog),  class: "btn btn-primary btn-sm" %></p>
<% end %>
</ul>



