<h1>Your Bookings</h1>

<ul>
<% @bookings.each do |booking| %>
  <li> You have booked <%= booking.dog.name %> between <%= booking.booked_from %> until <%= booking.booked_until %> %></li>
  <%= link_to 'View Booking', dog_booking_path(booking.dog, booking) %>
  <p> <%= link_to 'Create a new booking', new_dog_booking_path(booking.dog) %></p>
<% end %>
</ul>


