<h1>Your Bookings</h1>

<ul>
<% @bookings.each do |booking| %>
  <li> You have booked <%= booking.dog_id %> between <%= booking.booked_from %> until <%= booking.booked_until %> booking.dog_id %></li>
  <%= link_to 'View Booking', dog_booking_path(booking)%>
<% end %>
</ul>

<p> <%= link_to 'Create a new booking', new_dog_booking_path %></p>
