<div class="container">

  <h1 style="color: black" class="mb-3 mt-3">Your dashboard</h1>

  <h3 class="mb-3 mt-3">My bookings</h3>

  <div class="dog-cards">
    <% @user.bookings.each do |booking| %>
      <% if booking.dog.photo.attached? %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path booking.dog.photo.key, height: 400, width: 400, crop: :fill %>)">
      <% else %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/800x600/?dog/<%= rand(500) %>);">
      <% end %>
          <h2><%= link_to booking.dog.name, dog_bookings_path(booking.dog, booking), class: "text" %></h2>
        </div>
    <% end %>
  </div>

  <hr>

  <!-- My dogs, including edit and remove -->
  <h3 class="mb-3 mt-3">My dogs</h3>

    <!-- List new dog -->
  <%= link_to new_dog_path do %>
    <button type="button" class="btn btn-primary">List new dog</button>
  <% end %>

  <div class="dog-cards">
    <% @user.dogs.reverse.each do |dog| %>
      <% if dog.photo.attached? %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path dog.photo.key, height: 400, width: 400, crop: :fill %>)">
      <% else %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/800x600/?dog/<%= rand(500) %>);">
      <% end %>
      <h2><%= link_to dog.name, dog_path(dog), class: "text" %></h2>
      </div>
    <%end%>
  </div>

</div>
