<div class="container" style="margin-bottom: 50px">

  <h3 class="mb-3 mt-3">Hi <%= @user.name %>, here are your bookings</h3>

  <div class="dog-cards">
    <% @user.bookings.each do |booking| %>
      <% if booking.dog.photo.attached? %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path booking.dog.photo.key, height: 400, width: 400, crop: :fill %>)">
      <% else %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/800x600/?dog/<%= rand(500) %>);">
      <% end %>
          <h2><%= link_to booking.dog.name, dog_booking_path(booking.dog, booking), class: "text" %></h2>
        </div>
    <% end %>
  </div>

  <%= link_to dogs_path do %>
      <button type="button" class="btn btn-primary"> Make another booking </button>
    <% end %>

  <hr>

  <!-- My dogs, including edit and remove -->
  <h3 class="mb-3 mt-3"> And <%= @user.name %>, here are your dogs </h3>

  <div class="dog-cards">
    <% @user.dogs.reverse.each do |dog| %>
      <% if dog.photo.attached? %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path dog.photo.key, height: 400, width: 400, crop: :fill %>)">
      <% else %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/800x600/?dog/<%= rand(500) %>);">
      <% end %>
      <h2><%= link_to dog.name, dog_path(dog), class: "text" %></h2>
      </div>
    <%end%>

  </div>


    <%= link_to new_dog_path do %>
      <button type="button" class="btn btn-primary">List a new dog</button>
    <% end %>

  <hr>

  <h3 class="mb-3 mt-3"> And finally <%= @user.name %>, here are your details </h3>

  <p>  name: <%=  @user.name %></p>
  <p>  email: <%= @user.email %> <p>
  <p>  Phone number: <%= @user.telephone %> </p>
  <p>  Bio: <%= @user.bio %> </p>

  <%= link_to edit_user_registration_path do %>
      <button type="button" class="btn btn-primary">Edit Your Details </button>
    <% end %>


</div>
