<div class="profile_banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1563237739-e433cbb3fd8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);">
  <div class="container" style="width: 600px">
    <h2 style="font-family: tomorrow" > Log in to find your best friend</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

        <div class="form-actions" style="margin-top: 15px">
          <%= f.button :submit, "Log in", class: "btn btn-gradient" %>
        </div>
        <div class="form-actions">
        <%= render "devise/shared/links", class: "btn btn-primary" %>
        </div>
        <div>
          <%= link_to "Not signed up yet", new_user_registration_path, class: "btn btn-gradient", style: "margin: 20px 0px; border-radius: 9px;"%>
        </div>

    <% end %>


  </div>
</div>
