<% if @dog.photo.attached? %>
  <div class="profile_banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @dog.photo.key, height: 1200, width: 1600, crop: :fill %>)">
<% else %>
  <div class="profile_banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/800x600/?dog/<%= rand(50) %>);">
<% end %>

<div class="container container col-xs-12 col-sm-4 col-sm-offet 3">
  <div clas="row">

     <h1 class="text-center" style="color: white; font-family: Pacifico, cursive; padding-bottom: 40px";> Post a review for <%= @dog.name %> </h1>
        <%= simple_form_for [@dog, @review] do |f| %>
        <%= f.input :comment, placeholder: "Tell us about your experience" %>
        <%= f.input :rating, placeholder: "From 1-5" %>
        <%= f.submit  "Post Review", class: "btn btn-primary", style: "margin: 20px 0px; border-radius: 9px"; %>

    <% end %>
  </div>
</div>



